---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    <h1>Les vrais enjeux de la réforme des rétraites</h1>
    <h2>Site en préparation</h2>
    <div class="form">
        <form name="form" method="post" action="https://app.mailjet.com/widget/iframe/48U1/hTg">
            <input type="hidden" id="csrf_token" name="csrf_token" value="N2Q1MGMwODA2M2Q5MzM0OGU4MDkxODZlMmJlMDZhOGJkNTRhNmFhZGYyN2Q0NjFjOTA0MWFiYzBmZWM0MmI4OA==" />
            <label htmlFor="email">Inscrivez-vous pour être tenu·e au courant,<br /><small>vous pourrez vous désabonner facilement à tout moment.</small></label>
            <div class="input">
                <input id="email" type="email" placeholder="votre.adresse@email.fr" name="w-field-field-68774-388528-987537-email" required="required" />
                <button type="submit" name="subscribe" id="form-submit">Je m'inscris à la newsletter de reformedesretraites.fr</button>
            </div>
        </form>
    </div>
  </body>
</html>
